.container-img {

    .img-inicio {
        position: relative;
        width: 100%;
        object-fit: cover;
    }
    .welcome {
        font-weight: bold;
        margin: 6px;
        background-color: lightgreen;
        border-radius: 3px;
        position: absolute;
        bottom: 72.3%;
        left: 15%;
    }
}
.description-index {
    background-color: lightgray;
}